# Patterns to ignore when building packages.
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
*.swp
*.bak
*.tmp
*.orig
*~
.project
.idea/
*.tmproj
.vscode/
.DS_Store
*.md
!README.md
docs/
tests/
*_test.yaml
.github/
.gitlab-ci.yml
.travis.yml
Makefile
values-*.yaml
!values.yaml
